---
import type { Resume } from '@/content/config';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const { data } = Astro.props;
const { work } = data as Resume;
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<ul>
  {
    work.map(({ name, startDate, endDate, position, summary, isRemote }) => {
      const startDateString = new Date(startDate).toLocaleDateString('es-MX', {
        month: 'short',
        year: 'numeric',
      });
      const endDateString = endDate
        ? new Date(endDate).toLocaleDateString('es-MX', {
            month: 'short',
            year: 'numeric',
          })
        : t('currentDateString');
      return (
        <li>
          <article>
            <header>
              <div>
                <div class="name">
                <h3>{name}</h3>
                {isRemote && <span class="tag">{t('remoteString')}</span>}  
                </div>
                <h4>{position}</h4>
              </div>
              <time>
                {startDateString} - {endDateString}
              </time>
            </header>
            <footer>
              {' '}
              <p>{summary}</p>
            </footer>
          </article>
        </li>
      );
    })
  }
</ul>

<style>

  

  .name {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    color: var(--black-text); 
  }

  .tag {
    border-radius: 6px;
    background-color: var(--hover-background);
    color: var(--black-text);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 600;
    font-size: 1rem
    color: var(--black-text);
  }

  article h4 {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--black-text);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  time {
    font-size: 0.85rem;
    color: var(--darker-primary-text);
  }

@media (max-width: 500px) {
  
  header {
    flex-direction: column;
    gap: 4px;
  }
}
</style>
